.contactus {
  background-color: #C6D6E8;
  margin-top:100px;
  height: 250px;
  width: 100%;
   
}
.widp {
  background-color: #C6D6E8;
  margin-top:100px;
  height: 200px;
  width: 100%;  
}
button{
  width: 120px;
  height: 40px;
  font-size: 17px;
  background-color: #77abe6;
}
.container {
position: relative;
}

.txt {
text-align: center;
margin-top: 100px;
color: rgb(255, 255, 255);
}
.carousl {
margin-top: 100px;
padding-left: 180px;

}
.blur {
position: absolute;
top:0;
left:0;
}
.bg-image {
background-image: url('Web/blur\ background\ \(1\).jpg');
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

* {
margin: 0;
padding: 0;
}
.cell {
width: 33%;
height: 350px;
margin: 15px;
}
.container3 {
margin-top: 100px;
}

.slider-wrapper {
display: grid;
gap: 18px;
font-size: 0;
margin-bottom: 30px;
overflow-x: auto;
scrollbar-width: none;
grid-template-columns: repeat(10, 1rf);
}
.slider-wrapper .image-list::-webkit-scrollbar {
display: none;
}
.slider-wrapper .image-list .image-item {
width: 325px;
height: 400px;
object-fit: cover;
}
.container3 .slider-scrollbar {
height: 24px;
width: 100%;
display: flex;
align-items: center;
}
.slider-scrollbar .scrollbar-track {
height: 2px;
width: 100%;
background: #ccc;
position: relative;
border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track {
height: 4px;

}
.slider-scrollbar .scrollbar-thumb {
position: absolute;
height: 100%;
width: 50%;
background: #000000;
border-radius: inherit;
cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active {
cursor: grabbing;
height: 8px;
top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
content: "";
position: absolute;
left: 0;
right: 0;
top: -10px;
bottom: -10px;
}
.wrapper {
display: flex;
width: 70%;
justify-content: space-around;
}
.card{
padding: 2rem 1rem;
background: #C6D6E8;
position: relative;
display: flex;
align-items: flex-end;
box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
transition: 0.5s ease-in-out;
}
.card:hover {
transform: translateY(20px);
}
.card:before{
content: "";
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
height: 100%;;
z-index: 2;
transition: 0.5s all;
opacity: 1;
}
.carousel-item  {
padding: 4rem 1rem;
}
.info{
padding: 1rem 5rem;
}
.title{
padding: 3rem 3rem;
}
.btn{
  width: 120px;
  height: 40px;
  font-size: 17px;
}
